[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "websocketpp"]
	path = Release/libs/websocketpp
	url = https://github.com/zaphoyd/websocketpp
	fetchRecurseSubmodules = false
[submodule "Release/libs/asio"]
	path = Release/libs/asio
	url = https://github.com/chriskohlhoff/asio.git
