<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.55.0.16" targetFramework="native" />
  <package id="boost_atomic-android" version="1.55.0.2" targetFramework="native" />
  <package id="boost_chrono-android" version="1.55.0.2" targetFramework="native" />
  <package id="boost_date_time-android" version="1.55.0.2" targetFramework="native" />
  <package id="boost_filesystem-android" version="1.55.0.2" targetFramework="native" />
  <package id="boost_random-android" version="1.55.0.2" targetFramework="native" />
  <package id="boost_system-android" version="1.55.0.2" targetFramework="native" />
  <package id="boost_thread-android" version="1.55.0.2" targetFramework="native" />
  <package id="openssl-android" version="1.0.2.1" targetFramework="native" />
</packages>